datasets/*
experiments/imgs
experiments/wandb
experiments/models
experiments/results
experiments/paper
*__pycache__/
*.pyc
learned_dynamics_models.egg-info/
*.npy
wandb/
playground/
delays/
filtering/
*.egg-info
*.pt
*.yml
*.png
*.json
*.csv
*.so
*.o
*.swp
*.swo
*.c